<div class="container">
  <div class="todo">
    <div class="card">
      <h3>Day</h3>
      <hr>
      <div>
        <p style="text-align: center;">{{todayString | date:'fullDate'}}</p>
      </div>
      <form [formGroup]="toDo">
        <div class="formGroup">
          <input type="text" formControlName="list" class="form-control" placeholder="Add a task..."
            (keyup.enter)="save()">
        </div>
      </form><br>
      <div class="list" *ngFor="let item of collection">
        <div class="shadow p-3 mb-5  rounded todolist">
          <p style=" text-transform: none;"> <img src="./assets/images/delete.jpg" (click)="deleteList(item.id)">
            {{item.list}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>